html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

a{text-decoration: none;}
::selection{
    background-color: darkgreen;
    color: white;
}
.darkgreen, a:hover{
    color: darkgreen;
}

/* Main Content */
main{max-width:1400px;}
.accToggle{cursor:pointer;}
.margin{margin-left: 2.65rem;}
/* Main Content end */

/* Dark Mode */
.card-dark{background-color: #121212; color:white;}
/* Dark Mode end */